div {
    height: 300px;
    width: 300px;
    background-color: #F00;

    font-size: 60px;

    margin: 10px;
    margin-left: 18px;
    padding-top: 5px;
    
    box-sizing: border-box;

    color: #FF0;
    font-family: serif;
    display: inline-block;
}

#div2 {
    background-color: #000;
    color: #FFF;

}